<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List of Employees for <%= business %></title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/dashboard.css">
  <script type='text/javascript' src='/javascripts/dashboard.js'></script>
</head>
<body>
  

<div class="grid-container">
    <div class="menu-icon">
     <i class="fas fa-bars header__menu"></i>
   </div>
    
   <header class="header">
     <div class="header__search"><%= business %></div>
     <div class="header__avatar">Hello, <%= userInfo.displayname %></div>

     <div class="header__login">Logout</div>
   </header>
 
   <aside class="sidenav">
     <div class="sidenav__close-icon">
       <i class="fas fa-times sidenav__brand-close"></i>
     </div>
     <ul class="sidenav__list">
        <% if (userInfo.admin_user === true) { %>
          <li class="sidenav__list-item"><a href="/users/admin/dashboard">Full Schedule</a></li>
          <li class="sidenav__list-item"><a href="/users/admin/schedule">Shift Scheduler</a></li>
          <li class="sidenav__list-item"><a href="/message">Message</a></li>
          <li class="sidenav__list-item"><a href="/users/profile">Profile</a></li>
          <li class="sidenav__list-item"><a href="/users/admin/employees">Employees List</a></li> 
        <% } %>
          <li class="sidenav__list-item"><a href="/users/employee-dashboard">Home</a></li>
          <li class="sidenav__list-item"><a href="/message">Message</a></li>
          <li class="sidenav__list-item"><a href="/users/profile">Profile</a></li>
      </ul>
   </aside>
 
   <main class="main">
     <div class="main-header">
       <div class="main-header__heading">List of Employees
            <% if (employeeList.length) {
            %><ul>
                <% employeeList.forEach((x) => {
                    %>
                    <li><%= x.displayname %></li>
                    <li class=lesser_list>Phone Number: <%= x.phone_number %></li>
                    <li class=lesser_list>Email: <%= x.email %></li>
                    <%
                }) %>
                </ul><%
            } %>

</body>
</html>